<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RFinança - Controle pessoal</title>
    <!-- OpenGraph SEO meta tags -->
    <meta name="description" content="RFinança - Controle pessoal">
    <meta content="RFinança - Controle pessoal" name="keywords">


    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rfinanca.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="RFinança - Controle pessoal">
    <meta property="og:description" content="RFinança - Controle pessoal">
    <meta property="og:image" content="https://i.ibb.co/6PzFzqn/ogimg.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rfinanca.com">
    <meta property="twitter:url" content="https://rfinanca.com/">
    <meta name="twitter:title" content="RFinança - Controle pessoal">
    <meta name="twitter:description" content="RFinança - Controle pessoal">
    <meta name="twitter:image" content="https://i.ibb.co/6PzFzqn/ogimg.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/index/css/bootstrap.min.css">
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="/index/css/all.css">
    <!-- Circular-std CSS -->
    <link rel="stylesheet" href="/index/css/circular-std.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/index/css/style.css">

</head>

<body>
    <!--==================== HEADER ====================-->
    <header>
        <!-- Navbar -->
        <div class="nav-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/">rFinança</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                                <!--  <span class="navbar-toggler-icon"></span> -->
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/user/login">Minha conta</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-img">
            <img src="/index/images/banner-illustration.svg" class="img-fluid" alt="#">

            <!-- Main Title -->
            <div class="main-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="hero-title">
                                <p>OLá, bem vindo a rFinança</p>
                                <h1>Seguro<br>
                                    e facil.</h1>
                                <a href="/register" class="btn btn-danger">Crie sua conta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Title -->
        </div>
        <!--// Navbar -->

        <!--  // Contact Modal -->
        <!--==================== NEW INSURANCE ====================-->
        <div class="space bg-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-title">
                            <h2>Uma nova abordagem de controle pessoal</h2>
                            <p>Ótimo para indivíduos e empresas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-7 ml-auto">
                        <div class="insurance-title_wrap">
                            <h5>Implante monotonicamente sistemas de maximização de dados e recursos de maneira uniforme. </h5>
                            <div class="insurance-type d-flex align-items-center">
                                <img src="/index/images/tick.png" alt="#">
                                <div class="insurance-type_title">
                                    <h6>Controle de gastos</h6>
                                    <p>Controle todos os gastos em uma so plataforma.</p>
                                </div>
                            </div>
                            <div class="insurance-type d-flex align-items-center">
                                <img src="/index/images/tick.png" alt="#">
                                <div class="insurance-type_title">
                                    <h6>Controle de despesas</h6>
                                    <p>Controle todos os gastos em uma so plataforma.</p>
                                </div>
                            </div>
                            <div class="insurance-type d-flex align-items-center">
                                <img src="/index/images/tick.png" alt="#">
                                <div class="insurance-type_title">
                                    <h6>Relatório</h6>
                                    <p>Emita relatórios filtrados a seu gosto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-img-2">
                <img src="/index/images/health-family-illustration.svg" width="978" class="img-fluid" alt="#">
            </div>
        </div>
        <!--//END NEW INSURANCE -->
    </header>

    <section class="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-title">
                        <h2>Tabela de Preços</h2>
                    </div>
                </div>
            </div>
            <div class="row pricing-wrap">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="pricing-block pricing-block_middle">
                            <h6 class="secondary">COMPLETO</h6>
                            <span class="save-price">OFF 100%</span>
                            <div class="star-middle">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="pricing-high">
                                <div class="pricing-icon color7">
                                    <h2><span>R$</span>0</h2>
                                </div>
                            </div>
                            <div class="pricing-text">
                                <i class="fas fa-check"></i>
                                <p>Controle os gastos</p>
                            </div>
                            <div class="pricing-text">
                                <i class="fas fa-check"></i>
                                <p>Controle os ganhos</p>
                            </div>
                            <div class="pricing-text">
                                <i class="fas fa-check"></i>
                                <p>Emita relatórios</p>
                            </div>
                            <div class="add-btn pricing-btn_wrap">
                                <a href="/register" class="btn btn-warning">Cadastrar agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-bottom_text">
                        <p>*Preços mensais</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-bg">
            <img src="/index/images/bg-image4.png" class="img-fluid" alt="#">
        </div>
    </section>
    <!--==================== ADD ====================-->
    <section class="add-section clearfix collapse-wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="add-box">
                        <img src="/index/images/shield-green.svg" class="img-fluid shield" alt="#">
                        <div class="add-content">
                            <h3> rFinança</h3>
                            <p>Na fincorp, temos o compromisso de fornecer serviços de primeira linha aos nossos clientes.</p>
                        </div>
                        <div class="add-btn">
                            <a href="/register" class="btn btn-success">Criar conta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pricing-bg02">
            <img src="/index/images/family-illustration.svg" width="569" class="img-fluid" alt="#">
        </div>
    </section>
    <!--//END ADD -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="responsive-bg">
                        <img src="/index/images/family-illustration.svg" width="569" class="img-fluid" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==================== FOOTER ====================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2021. rFinança</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->
    <!--  JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/index/js/jquery-3.4.1.min.js"></script>
    <script src="/index/js/popper.min.js"></script>
    <script src="/index/js/bootstrap.min.js"></script>
    <!-- Contact js -->
    <script src="/index/js/validate.js"></script>
    <script src="/index/js/contact.js"></script>
</body>

</html>