<!-- Footer -->
<footer class="footer">
  rFinanças © 21 criado por <a href="https://www.rodrigo.com/"> Rodrigo</a>
</footer>
<!-- End Footer -->
</div>
<!-- End wrapper -->

<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
<script src="/cliente/assets/js/jquery.min.js"></script>
<script src="/cliente/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/cliente/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/cliente/assets/js/script.js"></script>
<!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->

<!-- ======= BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->
<script src="/cliente/assets/plugins/apex/apexcharts.min.js"></script>
<!-- ======= End BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS ======= -->

<script src="/cliente/assets/plugins/sweetalert2/sweetalert2.all.min.js"></script>

<script src="/cliente/assets/plugins/datepicker/datepicker.min.js"></script>
<script src="/cliente/assets/plugins/timepicker/jquery.timepicker.min.js"></script>
<script src="/cliente/assets/plugins/daterangepicker/daterangepicker.js"></script>

<script src="/cliente/assets/plugins/datepicker/i18n/datepicker.br.js"></script>
<script src="https://raw.githubusercontent.com/plentz/jquery-maskmoney/master/src/jquery.maskMoney.js"></script>        
<script src="/cliente/js/<%= script %>.js"></script>


</body>

</html>