<header class="header white-bg fixed-top d-flex align-content-center flex-wrap">
    <!-- Logo -->
    <div class="logo">
       <a href="/user/" class="default-logo"><img src="/cliente/assets/img/logo.png" alt=""></a>
       <a href="/user/" class="mobile-logo"><img src="/cliente/assets/img/mobile-logo.png" alt=""></a>
    </div>
    <!-- End Logo -->

    <!-- Main Header -->
    <div class="main-header">
       <div class="container-fluid">
          <div class="row justify-content-between">
             <div class="col-3 col-lg-1 col-xl-4">
                <!-- Header Left -->
                <div class="main-header-left h-100 d-flex align-items-center">
                   <!-- Main Header User -->
                   <div class="main-header-user">
                      <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                         <div class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                         </div>
                      </a>
                      <div class="dropdown-menu">
                         <a href="/api/sair">Sair</a>
                      </div>
                   </div>
                   <!-- End Main Header User -->

                   <!-- Main Header Menu -->
                   <div class="main-header-menu d-block d-lg-none">
                      <div class="header-toogle-menu">
                         <!-- <i class="icofont-navigation-menu"></i> -->
                         <img src="/cliente/assets/img/menu.png" alt="">
                      </div>
                   </div>
                   <!-- End Main Header Menu -->
                </div>
                <!-- End Header Left -->
             </div>
             <div class="col-9 col-lg-11 col-xl-8">
                <!-- Header Right -->
                <div class="main-header-right d-flex justify-content-end">
                   <ul class="nav">

                      <li class="d-none d-lg-flex">
                         <!-- Main Header Button -->
                         <div class="main-header-btn ml-md-1">
                            <a href="/user/criar/movimentacao" class="btn">Adicionar</a>
                         </div>
                         <!-- End Main Header Button -->
                      </li>
                   </ul>
                </div>
                <!-- End Header Right -->
             </div>
          </div>
       </div>
    </div>
    <!-- End Main Header -->
 </header>